<ion-content padding>
  <img src="assets/bgcash.png" class="image">
  <form [formGroup]="credential">
    <ion-item>
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item class="bordered">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item class="bordered">
      <ion-item>
        <ion-checkbox color="dark" slot="start" formControlName="remember"></ion-checkbox>
        <ion-label>Se souvenir</ion-label>
      </ion-item>
    </ion-item>
    <ion-button color="success" expand="block" [disabled]="!credential.valid" (click)="authentification()">Se connecter</ion-button>
  </form>
</ion-content>
