<ion-content padding>
  <img src="assets/bgcash.png" class="image">
  <form [formGroup]="credential">
    <ion-item style="text-align: center; padding-top: 15px;">
      Bienvenu sur l'application gestion de stock<br>
      Pour la premiere utilisation, veuillez entrer votre prenom, et votre mot de passe
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" formControlName="prenom"></ion-input>
    </ion-item>
    <ion-item class="bordered">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item class="bordered">
      <ion-label position="floating">Confirmation mot de passe</ion-label>
      <ion-input type="password" formControlName="password2"></ion-input>
    </ion-item>
    <ion-button color="success" expand="block" [disabled]="!credential.valid" (click)="enregistrement()">Enregistrer</ion-button>
  </form>
</ion-content>
